/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  nav {
      background-color: #333; /* Color de fondo del menú */
      padding: 10px 0; /* Espaciado interno del menú */
  }
  nav ul {
      list-style-type: none; /* Quita los marcadores de lista */
      margin: 0;
      padding: 0;
      text-align: center; /* Centra los elementos de la lista */
  }
  nav ul li {
      display: inline; /* Muestra los elementos de la lista en línea */
      margin: 0 10px; /* Margen horizontal entre elementos */
  }
  nav ul li a {
      color: #fff; /* Color del texto del enlace */
      text-decoration: none; /* Quita el subrayado de los enlaces */
      padding: 8px 16px; /* Espaciado interno del enlace */
      display: inline-block; /* Hace que los enlaces se comporten como bloques en línea */
  }
  nav ul li a:hover {
      background-color: #555; /* Color de fondo al pasar el ratón por encima */
  }
  nav ul li:nth-child(1) a:hover {
      background-color: #FF5733; /* Cambia a un color diferente para el primer enlace */
  }
  nav ul li:nth-child(2) a:hover {
      background-color: #33FF57; /* Cambia a un color diferente para el segundo enlace */
  }
  nav ul li:nth-child(3) a:hover {
      background-color: #5733FF; /* Cambia a un color diferente para el tercer enlace */
  }
  nav ul li:nth-child(4) a:hover {
      background-color: #FF33D6; /* Cambia a un color diferente para el cuarto enlace */
  }
  nav ul li:nth-child(5) a:hover {
      background-color: #33D6FF; /* Cambia a un color diferente para el quinto enlace */
  }
  nav ul li:nth-child(6) a:hover {
      background-color: #D6FF33; /* Cambia a un color diferente para el sexto enlace */
  }
  
  /* Estilos del contenido principal */
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  section h2 {
    color: #333;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
    .video-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;
    }
    
    .video-background video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .content {
      position: relative;
      z-index: 1;
      color: white;
      padding: 20px;
    }
    footer {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 20px;
      text-align: center;
    }